<footer>
    <strong>Copyright &copy; 2022-@DateTime.Now.Year <a href="http://">Ju Young Kim</a>.</strong>
    All rights reserved.
    <div class="version">
        <b>Version</b> 1.0.0
    </div>
</footer>