.login_container {
  display: table-cell;
  vertical-align: middle;
}

.login_container .login_form {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  background-color: #1f1d1d;
  vertical-align: middle;
}

.login_head{
  display: table;
  width: 100%;
  height: 180px;
  border-collapse: collapse;
}

.head_title {
  display: table-row;
  vertical-align: bottom;
  margin: 0 auto;
}

.login_head p {
  color: white;
  margin: 0 auto;
}

/* login form input */
.email {
  border-radius: 5px;
  width: 360px;
  height: 75px;
  border: 1px solid grey;
  margin: 0 auto;
}

.email_wrap {
  height: 120px;
}

.password {
  border-radius: 5px;
  width: 360px;
  height: 75px;
  border: 1px solid grey;
  margin: 0 auto;
}

.password_wrap {
  height: 120px;
}

.user_content{
  height: 75px;
}

/* input */
::deep input {
  width: 356px;
  height: 75px;
  background: transparent;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  color: #736D67;
}

/* button */
.login_button {
  width: 360px;
  margin: 0 auto;
}

::deep button {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.0rem;
  opacity: 0.9;
}
::deep button:hover {
  opacity: 1.0;
}