<div class="login_form">
	<EditForm class="contents" Model="_input" OnSubmit=@_OnSubmit>
		<DataAnnotationsValidator />
		<InputText placeholder="ID" @bind-Value="_input.Email" />
		<InputText placeholder="Password" @bind-Value="_input.Password" type="password" />
		<button class="btn btn-primary" style="width: 100%" type="submit">Login</button>
		<div>
		</div>
		<div>
			<button class="btn btn-primary" style="width: 100%" type="button" @onclick=GoogleLogin>Google Login</button>
		</div>
		<div>
			<button class="btn btn-primary" style="width: 100%" type="button">Register</button>
		</div>
	</EditForm>
</div>