/*login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: black;
}

.login_form form {
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}*/

.login_form {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #1f1d1d;
}

.login_form form .EmailInput {
  border: none;
  background: transparent;
  margin: 0 auto;
}