.login_container {
  display: table-cell;
  vertical-align: middle;
}

.login_container .login_form {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  background-color: #1f1d1d;
  vertical-align: middle;
}

.login_head{
  position: relative;
  width: 100%;
  height: 180px;
}

.head_title p {
  position: absolute;
  color: white;
  font-size: large;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* email */
.email_wrap {
  height: 120px;
}

.email {
  position: relative;
  border-radius: 5px;
  width: 360px;
  height: 75px;
  border: 1px solid grey;
  margin: 0 auto;
}

.email_wrap label {
  position: absolute;
  margin-top: 10px;
  z-index: 20;
  left: 1.5em;
  color: white;
}

/* password */
.password_wrap {
  height: 120px;
}

.password {
  position: relative;
  border-radius: 5px;
  width: 360px;
  height: 75px;
  border: 1px solid grey;
  margin: 0 auto;
}

.password_wrap label {
  position: absolute;
  margin-top: 10px;
  z-index: 20;
  left: 1.5em;
  color: white;
}

/* user content */
.user_content_wrap {
  position: relative;
  height: 75px;
}

.user_content_wrap select {
  width: 100px;
}

/* input */
::deep input {
  padding-top: 20px;
  text-indent: 2em;
  width: 356px;
  height: 55px;
  background: transparent;
  border: none;
  font-style: normal;
  color: white;
}

::deep .valid.modified {
  outline: none;
}

::deep .invalid.modified {
  outline: none;
}

/* button */
.login_button {
  width: 360px;
  margin: 0 auto;
}

.login_btn {
  width: 360px;
  background-color: #4CAF50;
  font-size: 1.0rem;
}

::deep button:hover{
  opacity: 1.0;
}