<div class="login_form">
	<EditForm class="contents" Model="_input" OnSubmit=@_OnSubmit>
		<DataAnnotationsValidator />
		<InputText placeholder="ID" @bind-Value="_input.Email" />
		<InputText placeholder="Password" @bind-Value="_input.Password" type="password" />
		<!--<button class="btn btn-primary" type="submit">Login</button>-->
		<RadzenButton Text="Login" type="submit" />
	</EditForm>

	<RadzenButton Text="스팀 로그인" Click=@SteamLogin />
</div>