<div class="login_container">
	<EditForm Model="_input" OnSubmit=@_OnSubmit>
		<DataAnnotationsValidator />

		<div class="login_form">
			<div class="login_head">
				<div class="head_title">
					<p>NaNarachi Login</p>
				</div>
			</div>

			<div class="email_wrap">
				<div class="email">
					<label for="email_input">이메일 주소</label>
					<InputText id="email_input" @bind-Value="_input.Email" />
				</div>
			</div>
			<div class="password_wrap">
				<div class="password">
					<label for="password_input">비밀번호</label>
					<InputText id="password_input" @bind-Value="_input.Password" type="password" />
				</div>
			</div>
			<div class="user_content_wrap">
				<select >
					<option value="1">ahaha</option>
					<option value="2">ahah</option>
					<option value="3">ahaah</option>
				</select>
			</div>
			<div class="login_button">
				<button class="login_btn" type="submit">Login</button>
			</div>
		</div>
	</EditForm>
</div>

