<div class="login_form">
	<EditForm Model="_input" OnSubmit=@_OnSubmit>
		<DataAnnotationsValidator />

		<div class="email">
			<InputText class="EmailInput"placeholder="ID" @bind-Value="_input.Email" />
		</div>
		<div class="password">
			<InputText class="PasswordInput" placeholder="Password" @bind-Value="_input.Password" type="password" />
		</div>
			
		<div>
			<button style="width: 100%" type="submit">Login</button>
		</div>
		<div>
			<button style="width: 100%" type="button" @onclick=GoogleLogin>Google Login</button>
		</div>
		<div>
			<button style="width: 100%" type="button">Register</button>
		</div>
	</EditForm>
</div>