<nav>
    <div class="left_side_bar">
        <div class="text">Side Menu</div>
        <ul>
            <li>
                <a href="#" class="excel_btn">
                    액셀 분석
                    <span class="excel_span">▼</span>
                </a>
                <ul class="excel_show">
                    <li><a href="/AnalyzeCsv">csv 분석</a></li>
                    <li><a href="/AnalyzeXlsx">xlsx 분석</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="account_btn">
                    계정 정보
                    <span class="account_span">▼</span>
                </a>
                <ul class="account_show">
                    <li><a href="#">계정 정보 조회</a></li>
                    <li><a href="#">결제 내역 조회</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="inventory_btn">
                    인벤토리 정보
                    <span class="inventory_span">▼</span>
                </a>
                <ul class="inventory_show">
                    <li><a href="#">캐릭터 리스트</a></li>
                    <li><a href="#">장비 리스트</a></li>
                    <li><a href="#">계정 우편함</a></li>
                    <li><a href="#">창고 정보</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="item_btn">
                    아이템 지급/회수
                    <span class="item_span">▼</span>
                </a>
                <ul class="item_show">
                    <li><a href="#">아이템 지급</a></li>
                    <li><a href="#">아이템 회수</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="chatting_btn">
                    채팅
                    <span class="chatting_span">▼</span>
                </a>
                <ul class="chatting_show">
                    <li><a href="/Chatting">채팅방 입장</a></li>
                </ul>
            </li>
            <AuthorizeView Roles=@Constants.ROLE_ADMIN>
					<Authorized>
                        <li>
                            <a href="/Registration">
                                사용자 등록
                            </a>
                        </li>
                        <li>
                            <a href="/AssignRoles">
                                권한 할당
                            </a>
                        </li>
					</Authorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>