<RadzenHeader>
    <div class="d-flex align-items-center">
        <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        <RadzenLabel Text="Header" />
    </div>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@sidebarExpanded">
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Home" Icon="home" />
        <RadzenPanelMenuItem Text="Users" Icon="account_box" />
    </RadzenPanelMenu>
    <div class="p-2">
        Sidebar
    </div>
</RadzenSidebar>