<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#listBtn").on("click", function(){
		$.get("/articles", function(data){
			console.log(data);
			
			alert(JSON.stringify(data));
		});
	});
	
	$("#readBtn").on("click", function(){
		var articleNo = $("#articleNo");
		var articleNoVal = articleNo.val();
		
		console.log(articleNoVal);
		
		$.get("/articles/" + articleNoVal, function(data){
			console.log(data);
			
			alert(JSON.stringify(data));
		});
	});
	
	$("#deleteBtn").on("click", function(){
		var articleNo = $("#articleNo");
		var articleNoVal = articleNo.val();
		
		console.log(articleNoVal);
		
		$.ajax({
			type : "DELETE",
			url : "/articles/" + articleNoVal,
			success : function(result){
				console.log("result: " + result);
				
				alert(result);
			}
		});
	});
	
	$("#registerBtn").on("click", function(){
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var articleObject = {
			title : titleVal,
			content : contentVal,
			writer : writerVal
		};
		
		$.ajax({
			type : "POST",
			url : "/articles",
			data : JSON.stringify(articleObject),
			contentType : "application/json; charset=UTF-8",
			success : function(result){
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(request, status, error){
				alert("code: " + request.status + "\n"
						+ "message: " + request.responseText
						+ "\n" + "error: " + error);
			}
		});
	});
	
	$("#modifyBtn").on("click", function(){
		var articleNo = $("#articleNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var articleNoVal = articleNo.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var articleObject = {
			articleNo : articleNoVal,
			title : titleVal,
			content : contentVal,
			writer : writerVal
		};
		$.ajax({
			type : "PUT",
			url : "/articles/" + articleNoVal,
			data : JSON.stringify(articleObject),
			contentType : "application/json; charset=UTF-8",
			success : function(result){
				console.log("result: " + result);
				alert(result);
			}
		});
	});
});
</script>
<body>
	<h1>Ajax Home</h1>
	<form>
		articleNo: <input type="text" name="articleNo" value="" id="articleNo"><br>
		title: <input type="text" name="title" value="" id="title"><br>
		content: <input type="text" name="content" value="" id="content"><br>
		writer: <input type="text" name="writer" value="" id="writer"><br>
	</form>
	<div>
		<button id="listBtn">LIST</button>
		<button id="readBtn">READ</button>
		<button id="registerBtn">REGISTER</button>
		<button id="deleteBtn">DELETE</button>
		<button id="modifyBtn">MODIFY</button>
	</div>
</body>
</html>