@inherits LayoutComponentBase

@using Game.Features.GameSite.Component

<body>
	<AuthorizeView>
		<Authorized>
			@Body
		</Authorized>
		<NotAuthorized>
			<section>
				<Login />
			</section>
		</NotAuthorized>
	</AuthorizeView>
	<persist-component-state />
	<div id="components-reconnect-modal"></div>
</body>