@inherits LayoutComponentBase

@using Game.Features.GameSite.Component

<body>
	<AuthorizeView>
		<Authorized>
			@Body
		</Authorized>
		<NotAuthorized>
			<Login />
		</NotAuthorized>
	</AuthorizeView>
	<persist-component-state />
</body>