.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login_form form {
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}