.register_table {
  border-collapse: separate;
  border-spacing: 40px 20px;
}

.register_table td {
  text-align: left;
}

.register_btn {
  width: 200px;
  height: 75px;
  border-radius: 5px;
  border: 1px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.0rem;
  opacity: 0.9;
}