@inherits LayoutComponentBase

@using Game.Features.GameSite.Component

<body>
	<AuthorizeView>
		<Authorized>
			<div class="login_after">
				<Navbar />
				<Header />
				@Body
			</div>
		</Authorized>
		<NotAuthorized>
			<div class="login_before">
				<Login />
			</div>
		</NotAuthorized>
	</AuthorizeView>
	<persist-component-state />
	<div id="components-reconnect-modal"></div>
</body>